---
import { navLinks } from "@/data";
const year = new Date().getFullYear();
---

<footer>
  <div>
    Copyright &copy; {year}
    <span aria-label="rocket emoji">🚀</span>
    Anibal Santos
  </div>
  <nav aria-label="More on this site">
    {navLinks.map(({ path, title }) => <a href={path}>{title}</a>)}
  </nav>
</footer>
