---
import ThemeToggle from "./Theme.astro";
import { navLinks } from "@/data";
const url = new URL(Astro.request.url);
---

<header id="main-header">
  <div class="flex sm:flex-col">
    <a href="/" aria-current={url.pathname === "/" ? "page" : false}>
      <span>ansango</span>
    </a>
    <nav id="navigation-menu" aria-label="Main menu">
      {
        navLinks.map(({ title, path }) => (
          <a
            href={path}
            aria-current={url.pathname === path ? "page" : false}
            rel="prefetch"
          >
            {title}
          </a>
        ))
      }
    </nav>
  </div>
  <ThemeToggle />
</header>
