---
import BaseHead from "@/components/BaseHead";
import type { SiteMeta } from "@/data";
import { siteConfig } from "@/site-config";
export interface Props {
  meta: SiteMeta;
}

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
  </head><body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      main {
        margin: auto;
        max-width: 60ch;
      }
    </style>
  </body>
</html>
